$text-color: #000;
$btn-color: #e86f54;
$footer-color: #fff;
$delivery-color: rgba(181, 176, 170, 1);
$modal-color: #5c5c5c;
$input-color: rgba(0, 0, 0, 0.4);
$inp-color: #d7d7d7;
$hover: #e25b41;
$headermd: #e86f5466;
